/***********************************/
/* Header */
/***********************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e9fde9;

  height: 9.6rem;
  padding: 0 4.8rem;

  position: relative; /*omdat main-nav absolute is, EN voor sticky */
}

.profileFoto {
  height: 3.6rem;
  border-radius: 50px;
}

/***********************************/
/* NAVIGATION */
/***********************************/
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 9rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: chocolate;
  background-color: white;
}

.nav-contact:link,
.nav-contact:visited {
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  color: white;
  background-color: chocolate;
}

.nav-contact:hover,
.nav-contact:active {
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  color: chocolate;
  background-color: white;
}

/* Navigatie-balk voor mobieltjes */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 3.6rem;
  width: 3.6rem;
  color: #333;
}

.icon-mobile-nav[name="close-circle-outline"] {
  display: none;
}

/*Navigatie voor STICKY balk */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 7rem;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.45);
}
.sticky .section-hero {
  margin-top: 7rem;
}

/***********************************/
/* HERO */
/***********************************/
.section-hero {
  background-color: #e9fde9;
  padding: 0rem 2.4rem;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.hero-description {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  padding: 1rem;
}

.hero-list {
  list-style: none;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6;
  align-items: center;
  gap: 9rem;
}

.hero-img {
  width: 100%;
  border-radius: 50px;
}

.hero-text-box {
  padding: 1rem;
}

/***********************************/
/* ABILITES */
/***********************************/

.section-abilities {
  padding: 3rem 0;
  background-color: #e9fdfc;
  padding: 2.4rem 2.4rem;
}

.abilities {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.abilities:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.45); /*x y blur kleur */
}

.abilities-title {
  display: flex;
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
  justify-content: center;
}

.abilities-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 1.2rem;
}

.abilities-attribute {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.abilities-attribute--between {
  justify-content: space-between;
}

.abilities-img {
  width: 100%;
  border-radius: 9px;
}

.abilities-img-small {
  max-width: 2.4rem;
  height: auto;
}

.abilities-rating {
  display: flex;
  gap: 0.4rem;
  border-radius: 20px;
  color: white;
  background-color: rgb(198, 208, 214);
}

.abilities-icon {
  font-size: 1.6rem;
  color: rgb(235, 146, 30);
}

.abilities-language {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/***********************************/
/* CONTACT FORM */
/***********************************/

.section-contact-form {
  padding: 4.8rem 0 12.8rem;
  background-color: #e9fdfc;
}

.contact-form-text-box {
  padding: rem 6.4rem 6.4rem 6.4rem;
}

.contact-form-text {
  font-size: 1.6rem;
  line-height: 1.6rem;
  margin-bottom: 2.4rem;
}

.contact-form-formulier {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.contact-form-formulier label {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.contact-form-formulier input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #e9fdfc;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.contact {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.45);
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #e9fdfc, #e67e22);
  overflow: hidden;
  padding-bottom: 10px;
}

.contact *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(233, 253, 252, 0.432);
}

/***********************************/
/* FOOTER */
/***********************************/

.footer {
  padding: 4.8rem 0;
  background-color: darkgray;
}

.footer-heading {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #fafafa;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #0c5b88;
}

.copyright {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #fafafa;
}

.contactinfo {
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 1.2rem;
}

.about {
  max-width: 40rem;
  color: #fafafa;
}

.about summary {
  cursor: pointer;
  font-weight: 600;
  list-style: none;
}

.about p {
  margin-top: 1.2rem;
  line-height: 1.6;
  color: black;
}

.socials {
  list-style: none;
}

.social-icon {
  height: 1.6rem;
  width: 1.6rem;
}
